@charset "UTF-8";

body {
  font-family: sans-serif;
  color: #002a5a;
  line-height: 1.7;
}

h1 {
  font-size: 21px;
  text-align: center;
  color: blue;
}

h2 {
  font-size: 18px;
}

p {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
}

.info {
  list-style-type: none;
}

.profile {
  padding: 16px;
  border: 1px solid #095cdc;
}

.profile h2 {
  margin-top: 0;
  margin-bottom: 0;
}
